@media(max-width:1100px){
    .container {
        padding-top: 32px;
        padding-inline: 50px;
    }
    .card-section{
        grid-template-columns: 1fr 1fr;
    }
    .none{
        display: none;
    }
}