:root {
    --primary-Color: #0D0C22;
    --primary-Color-sec: #EA4C89;
    --Secondary-Color: #3D3D4E;
    --Secondary-Color-sec: #FFFFFF;
    --Secondary-Color-thr: #FAEBF9;
    --Typography: font-family: "Inter", sans-serif;
    --border-radius-btn1: 8px;
    --border-radius-btn2: 16px;
    --border-radius-btn3: 30px;

}

.container {
    width: min(100%, 1440px);
    margin: auto;
    padding: 70px;
}

body {
    font-family: var(--Typography);
}

/* filter-section  */

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
    background-color: var(--Secondary-Color-thr);
    width: 101px;
    height: 40px;
    border-radius: var(--border-radius-btn1);
    border: 1px solid #3D3D4E;
    color: var(--primary-Color);

font-weight: 400;

font-size: 14px;

line-height: 22px;
letter-spacing: 0%;
vertical-align: middle;


}
.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--Secondary-Color-thr);
    width: 103px;
    height: 40px;
    border-radius: var(--border-radius-btn2);
    border: 1px solid #3D3D4E;
    color: var(--primary-Color);
    font-weight: 400;

font-size: 14px;

line-height: 22px;
letter-spacing: 0%;
vertical-align: middle;

}

/* card-section  */


.card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 20px;

}

.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px ;

}
.first,.second,.third{
    display: flex;
    align-items: center;
    gap: 4px;
}
.first{
    gap: 8px;
    font-weight: 400;

font-size: 14px;

line-height: 22px;
letter-spacing: 0%;
vertical-align: middle;
}
.second,.third{
 
font-weight: 400;

font-size: 12px;
color: var(--Secondary-Color);
line-height: 16px;
letter-spacing: 0%;
vertical-align: middle;

}
.sc2{
    display: flex;
    align-items: center;
    gap: 10px;

}
.img1{
    width: 100%;
    height: 312px;
    object-fit: cover;
}